.landpagebg {
    background-image: url('../assets/anothercoolbg.jpg');
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: rgb(119, 117, 117);
    position: relative;
    color: white;
    overflow: hidden;
}

/* .landpagebg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(255, 255, 255, 0.3) 10%, rgba(0, 0, 0, 0.8) 40%);
    pointer-events: none;
    transition: background 0.1s ease-out;
} */
