@tailwind base;
@tailwind components;
@tailwind utilities;







.orbitron {
  font-family: var(--font-orbitron);
}



main {
  width: 100%;
  max-width: 1800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #32292F;
}
